################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/PPT
/FakeAPI/bin/Debug/netstandard2.0
/FakeAPI/obj
/PPT/bin/Debug/netcoreapp3.1
/PPT/obj
/Shared/bin/Debug/netstandard2.0
/Shared/obj
